
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
#topbar{
    width:100%;
   
    
  /* background-color: slateblue;*/
}

#logo{
    width:10%;
}

#header{
    display:flex; 
    width:33%;  
    justify-content:space-between;
    margin-left: 400px;
    margin-top:-30px;  
    
}
#header a{
    font-family: 'Poppins', sans-serif;
   justify-content:center;

    font-size: 12px;
    font-weight: bold;
    color: #bcbbba;
}

#btn button{
    margin-left:85%;
    margin-top:-40px;
    background-color:#ffd8db;
    padding:15px 20px;
    border:0;
    border-radius:20px;
    color:#5e4ec2;

}

/*#body-section{
    height:580px;
    background-color: violet;
}*/

#workplace{
    /*background-color: turquoise;*/
    width:35%;
}

#workplace h1{
    margin-left:90px;
    font-size:70;
    padding-top:15px;
    font-family:'Barlow Semi Condensed', sans-serif;
    
 }

 #workplace p{
    font-family: 'Barlow Semi Condensed', sans-serif;
    margin-left:90px;
    margin-top:-30px;
 }

#landing-section{
    width:800px;
    height:490px;
    margin-left:500px;
   margin-top:-240px;
   transform: rotateY(50deg);
  /* background-color:yellow;*/
}  

#landing-section img{
    width:600px;
    height:550px;
    
}

.btn-2{

    padding:15px 20px;
    border:0;
    border-radius:20px;
    margin-top:-240px;
    margin-left:90px;
    background-color:#5243c0;
    color:white;
}

#container-2{
    margin-top:-250px;
    margin-left:240px;
    size:20px;
}

#container-3{
    display:flex;
    flex-direction: column;
    margin-left:90px;
    margin-top: 30px;
    
}

#property-1{
    
    
    background-color: #fbfbfb;
    width:26%;
    padding:2px 8px;
    border-radius:15px;
    
}

.heading{
    margin-left:50px;
    margin-top:-25px;
    font-size:12px;
    font-family: 'PT Sans', sans-serif;
    
}
.user{
    margin-left:180px;
    margin-top:-30px;
    
}

.date{
    margin-left:240px;
    margin-top:-25px;
    font-family: 'PT Sans', sans-serif;
    font-size:12px;
    color:grey;
}

#property-1 button{
    background-color: #ffd8db;
}

.btn{
    margin-left:300px;
    margin-top:-25px;
    border:none;
    padding:5px 10px;
    border-radius: 5px;;
}

#property-2{

    width:26%;
    background-color: #ffffff;
    padding:2px 8px;
    border-radius:15px;
    margin-top:10px;
}

#property-2 button{
    background-color: #fd6534;
   
}

#property-3{
    background-color: #f1f1f1;
    width:26%;
    padding:2px 8px;
    border-radius:15px;
    margin-top:10px;
}

#property-3 button{
    background-color: #9ecf96;
}

#property-4{
    background-color: #fbfbfb;
    width:26%;
    padding:2px 8px;
    border-radius:15px;
    margin-top:10px;
}